.goback {
  background: transparent;
  margin-bottom: 15px;
}

.transactionadd {
  &__wrapper {
    padding-top: 15px;
  }

  &__form {
    display: flex;
    flex-direction: column;
  }

  &__description {
    display: block;
    padding: 0 20px;
    margin: 0 auto 0 auto;
    width: 282px;
    height: 44px;

    background: transparent;
    border: 2px solid #ffffff;
    border-top-left-radius: 16px;
    border-bottom: 0px;

    font-size: 12px;
    line-height: calc(14 / 12);
    letter-spacing: 0.02em;

    &::placeholder {
      color: #c7ccdc;
    }
  }

  &__select {
    display: block;
    margin: 0 auto 30px auto;
    padding: 0 20px;
    width: 282px;
    height: 44px;

    background: transparent;
    border: 2px solid #ffffff;
    border-bottom-right-radius: 16px;

    font-size: 12px;
    line-height: calc(14 / 12);
    letter-spacing: 0.02em;
    color: #c7ccdc;

    // -webkit-appearance: button;
    // -moz-appearance: button;
    // -webkit-user-select: none;
    // -moz-user-select: none;
    // -webkit-padding-end: 20px;
    // -moz-padding-end: 20px;
    // -webkit-padding-start: 20px;
    // -moz-padding-start: 20px;
    // margin: 0;
    // overflow: hidden;
    // padding-top: 2px;
    // padding-bottom: 2px;
    // text-overflow: ellipsis;
    // white-space: nowrap;
  }

  &__amountwrapper {
    display: flex;
    margin: 0 auto;
  }

  &__amount {
    padding-left: 40px;
    padding-right: 15px;
    width: 125px;
    height: 44px;

    background: transparent;
    border: 2px solid #ffffff;
    border-radius: 22px 0px 0px 22px;

    &::placeholder {
      color: #000000;
    }
  }

  &__iconwrapper {
    display: flex;
    align-items: center;
    width: 60;
    height: 44px;
    padding: 0 20px;

    border: 2px solid #ffffff;
    border-radius: 0px 22px 22px 0px;
    border-left: 0;
  }

  &__btnwrapper {
    display: flex;
    margin: 85px auto 0 auto;
    width: 265px;
    justify-content: space-between;
  }

  &__btn {
    width: 125px;
    height: 44px;

    background: #f5f6fb;
    box-shadow: 1px 2px 5px rgba(170, 178, 197, 0.4);
    border-radius: 16px;

    font-weight: 700;
    font-size: 12px;
    line-height: calc(14 / 12);
    text-align: center;
    letter-spacing: 0.02em;
    text-transform: uppercase;

    color: #52555f;

    &:hover,
    &:focus {
      background: #ff751d;
      color: #ffffff;
      filter: drop-shadow(1px 3px 5px rgba(255, 107, 8, 0.35));
    }
  }
}

.darkTheme {
  transition: all ease-in-out 1200ms;
  background-color: #252529;

  .transactionadd__amount {
    color: #f0e7e7;

    &::placeholder {
      color: #f0e7e7;
    }
  }
}
