.header {
  display: flex;
  justify-content: space-around;
  margin-bottom: 58px;

  @media screen and (min-width: 1280px) {
    justify-content: flex-end;
  }

  .report {
    display: flex;
    align-items: center;
    letter-spacing: 0.04em;
    color: rgba(82, 85, 95, 0.7);

    &:hover,
    &:focus {
      color: #ff751d;
    }

    @media screen and (min-width: 1280px) {
      margin-left: 23%;
    }
  }

  .logo {
    margin-left: 15px;
  }
}

.chart {
  transition: all ease-in-out 1200ms;
  position: relative;
  padding: 28px 30px 48px 30px;
  background: #ffffff;
  box-shadow: 0px 10px 60px rgba(170, 178, 197, 0.2);
  border-radius: 0px 30px 30px 30px;
  margin-bottom: 40px;
  @media screen and (min-width: 1280px) {
    width: 1060px;
    margin: 0 auto 40px auto;
  }

  &__cover {
    margin-top: 48px;
    @media screen and (min-width: 1280px) {
      display: flex;
      align-items: flex-start;
    }
  }
}

.summary__dec {
  @media screen and (min-width: 320px) {
    display: none;
  }
  @media screen and (min-width: 1280px) {
    display: block;
  }
}

.darkTheme {
  transition: all ease-in-out 1200ms;
  .report {
    color: #f0e7e7;
  }

  .chart {
    background: #252529;
  }
  .sumTtile {
    background-color: #1f2022;
    color: #f0e7e7;
  }
  .sumItem {
    background-color: #1f2022;
    color: #f0e7e7;
  }
}
